<div class="primary-nav">
  <div class="primary-nav__content">
    <button class="btn-gray" aria-label="Filter results" data-filter-btn="">
      <img src="img/filter-list.svg" alt="" />
    </button>

    <form data-search-form="">
      <div class="primary-nav__content__search-bar ai-c">
        <button aria-label="Search button" type="submit">
          <img src="img/search-icon.svg" alt="search icon" />
        </button>
        <% if(!searchQuery) {%>
        <input type="text" value="" />
        <% } %> <% if(searchQuery) {%>
        <input type="text" value="<%= searchQuery %>" />
        <% } %>
      </div>

      <select
        class="primary-nav__filter menu"
        data-filter-menu=""
        data-search-form-select=""
      >
        <option value="added-date-ascending" <%= "added-date-ascending" === filter ? "selected" : '' %>>Added (newest)</option>
        <option value="added-date-descending" <%= "added-date-descending" === filter ? "selected" : '' %>>Added (oldest)</option>
        <option value="price-ascending" <%= "price-ascending" === filter ? "selected" : '' %>>Price (high to low)</option>
        <option value="price-descending" <%= "price-descending" === filter ? "selected" : '' %>>Price (low to high)</option>
        <option value="popularity" <%= "popularity" === filter ? "selected" : '' %>>Popularity</option>
      </select>
    </form>

    <button
      class="btn-gray primary-nav__open-menu-btn"
      aria-label="Menu"
      data-nav-menu-btn
    >
      <img src="img/hamburger-menu.svg" alt="" />
    </button>
  </div>

  <nav class="ai-c">
    <ul class="primary-nav__menu menu" data-nav-menu>
      <li><a href="/" class="link-style-inherit">Home</a></li>
      <li><a href="about" class="link-style-inherit">About</a></li>
      <% if(authenticated) { %>
      <li><a href="profile" class="link-style-inherit">Profile</a></li>
      <li>
        <a href="logout" class="link-style-inherit" data-logout-btn=""
          >Logout</a
        >
      </li>
      <% } %>
      <!-- prittier-ignore -->
      <% if(!authenticated) { %>
      <li><a href="login" class="link-style-inherit">Login</a></li>
      <li><a href="register" class="link-style-inherit">Register</a></li>
      <% } %>
    </ul>
  </nav>
</div>

<div class="primary-nav__space" data-nav-space=""></div>
