<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navigation')%>
      <form
        class="main-form"
        data-edit-form=""
        enctype="multipart/form-data"
        id="<%= product._id %>"
      >
        <div class="ver-spacer">
          <div>
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              value="<%= product.title %>"
              required
            />
          </div>

          <div>
            <label for="Description">Description</label>
            <textarea
              id="description"
              name="description"
              cols="30"
              rows="10"
              required
            >
<%= product.description %></textarea
            >
          </div>

          <div>
            <label for="price">Price</label>
            <input
              type="number"
              id="price"
              name="price"
              value="<%= product.price %>"
              required
            />
          </div>

          <input type="file" id="image" name="image" />
        </div>

        <button class="btn-accent b-margin-top" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
