<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body data-scroll="true">
    <div class="container">
      <!-- Navigation -->
      <%- include('partials/navigation')%>

      <header>
        <h1 class="text-c">Browse 👀</h1>
      </header>
      
      <main class="b-margin-top" >
        <!-- Articles -->
        <div class="articles-container grid" data-articles-grid="">
          <div class="grid-col grid-col--1"></div>
          <div class="grid-col grid-col--2"></div>
          <div class="grid-col grid-col--3"></div>

          <% products.forEach(product => { %>
            <% const date = product.createdAt.toISOString().split('T')[0].replaceAll('-', '/'); %> 

            <article class="ver-spacer grid-item" id="<% product._id %>" data-full-text='<%= product.description %>' >
              <img src="<%= product.optimizedImgUrlWatermarked %>" data-original-img-source="<%= product.imgUrlWatermarked %> " alt="article photo" class="articles-container__article-img">
              <h2><%= product.title %></h2>

              <% if(product.description.length >= 80) { %> 
              <p><%= `${product.description.slice(0, 80)} ${'.'.repeat(3)}` %> <button class="articles-container__highlight" data-full-text-btn="">Read more</button></p>
              <% } %> 

              <% if(product.description.length <= 80) { %> 
              <p><%= product.description.slice(0, 80) %></p>
              <% } %>

              <div class="articles-container__article-info separetor"><p>Price: <%= product.price  %> &#36</p><a href="author?authorId=<%= product.authorId %>" class="link-style-inherit">Author: <%= product.authorName %> </a><p>Uploaded: <%= date %></p> <p>Resolution: <%= product.resolution %></p></div>
              <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
          <% }); %>
        </div>
      </main>

      <div class="zoomed-in-img jc-c ai-c" data-zoomed-in-img="">
          <div>
            <button class="btn-dark" data-zoomed-in-img-close-btn=""><img src="img/close.svg" alt=""></button>
            <img src="img/IMG_20200922_153646.jpg" alt="" data-main-img="">
          </div>
        </div>

        <div class="full-text" data-full-text-container="">
          <div>
            <button class="btn-dark" data-full-text-close-btn=""><img src="img/close.svg" alt=""></button>
            <p></p>
          </div>
        </div>

        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
    </div>
  </body>
</html>
