<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <%- include('partials/navigation')%>

      <header>
        <h1 class="text-c">Hello John 👋</h1>
      </header>

      <a href="upload" class="btn-dark b-margin-top text-c upload-btn">Upload</a>
      
      <main >
        <h3 class="profile-section-indicetor gray-accent ">Your Photos</h3>
        <!-- Articles -->
        <!-- prettier-ignore -->
        <div class="articles-container grid" data-articles-grid="">
          <div class="grid-col grid-col--1"></div>
          <div class="grid-col grid-col--2"></div>
          <div class="grid-col grid-col--3"></div>

          <% products.forEach(product => { %>
            <% const date = product.createdAt.toISOString().split('T')[0].replaceAll('-', '/'); %> 

            <article class="ver-spacer grid-item" id="<%= product._id %>">
              <img src="<%= product.imgUrl %>" alt="article photo" class="articles-container__article-img" loading="lazy">
              <h2><%= product.title %></h2>
              <p><%= product.description %> <button class="articles-container__highlight">Read more</button></p>
              <div class="articles-container__article-info separetor"><p>Price: <%= product.price  %> &#36</p><p>Author: <%= product.authorName %> </p><p>Uploaded: <%= date %></p> <p>Resolution: 1920x1080</p></div>
              <div class="separetor">
                <a href="edit?id=<%= product._id %>" class="btn-gray articles-container__button ai-c" data-edit-btn="">Edit <img src="img/edit.svg" alt="edit"></a>
                <button class="btn-gray articles-container__button ai-c" data-delete-btn="">Delete <img src="img/edit.svg" alt="delete"></button>
              </div>
            </article>
          <% }); %>
        </div>

        <h3 class="profile-section-indicetor gray-accent">Your Purchases</h3>

        <div class="articles-container grid-additional" data-articles-grid="">
          <div class="grid-col-additional grid-col--1"></div>
          <div class="grid-col-additional grid-col--2"></div>
          <div class="grid-col-additional grid-col--3"></div>

          <article class="ver-spacer grid-item-additional">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" class="articles-container__article-img" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item-additional">
            <img src="img/eiffel-tower.jpg" alt="article photo" class="articles-container__article-img" loading="lazy">
            <h2>Eiffel Tower Paris</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item-additional">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" class="articles-container__article-img" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urb Upper West and  ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
        </div>

        <h3 class="profile-section-indicetor gray-accent">Action Center</h3>
        
        <div class="separetor">
            <a href="change-password" class="link-style-inherit">Change Password</a>
            <button data-close-account-btn="">Close Account</button>
        </div>

        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
        
        <div class="confirmation-pop-up ver-spacer text-c" data-confiramtion-pop-up="">
          <p class="h2">Are you sure?</p>
          <div class="separetor">
            <button class="btn-gray" data-option="yes">Yes</button>
            <button class="btn-gray" data-option="no">No</button>
          </div>
        </div>

        <div class="zoomed-in-img jc-c ai-c" data-zoomed-in-img="">
          <div>
            <button class="btn-dark" data-zoomed-in-img-close-btn=""><img src="img/close.svg" alt=""></button>
            <img src="img/IMG_20200922_153646.jpg" alt="" data-main-img="">
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
